.search {
  position: relative;
}

.search-svg {
  max-width: 30px;
  max-height: 30px;
}

.search__btn {
  position: absolute;
  top: 15px;
  right: 20px;
}

.search-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.search-input:focus {
  border: 3px solid #555;
}
